/* 共通 */
body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    color: black;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* ヘッダー */
  .header {
    background: white;
    border-bottom: 1px solid #eee;
  }
  
  .header-item {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;

  }

  .nav li{
    transition: all .3s;
  }

  .nav li:hover{
    background: white;
    color: orange;
  }
  
  .button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 3px black;
    position: fixed;
    right: 120px;
    bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }


  /* メインビジュアル */
  .main {
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: black; */
  }

  .main img{
    width: 100%;
    height: 300px;
    opacity: .7;
    object-fit: cover;
  }

  .main .keymessage{
    font-size: 40px;
  }

  .main .submessage{
    font-size: 18px;
  }

  /* セクション共通 */
  .section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }

  .section .name{
    font-size: large;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .section-text {
    text-align: center;
    line-height: 1.8;
  }
  
  /* メニュー */
  .bg-gray {
    background: #f7f7f7;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .menu-list li {
    margin-bottom: 15px;
  }

  #map{
    justify-content: center;
  }
  
  /* フッター */
  .footer {
    background: #6f4b3e;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  